<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test Suite">
    <test verbose="2" preserve-order="true" name="TestName1" parallel="classes" thread-count="2">
        <classes>
            <class name="Runner.TestNgRunner"/>
        </classes>
    </test>

</suite>
